{% extends 'products/base.html'%}
{% load static %}

{% block css %}

    <link href="{% static 'vendor/css/index.css' %} " rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <!--    <div class="alert alert-light text-center" role="alert">-->
        <!--        Информационное сообщение-->
        <!--    </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Tank Tuning <b>SPB</b></h1>
                    <p>
                        <b>Интернет-магазин деталей и аксессуаров для тюнинга автомобилей Tank 300 и Tank 500 в Санкт-Петербурге</b>
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index' %}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
