{% extends 'products/base.html' %}
{% load static humanize %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock %}
{% block contact_me %}
    <a class="dropdown-item" href="#contacts">Связаться с нами</a> {% endblock %}
{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h2 class="my-4">Tank Tuning <b>SPB</b></h2>


                <div class="list-group">
                    {% for category in categories %}
                        <a href="{% url 'products:category' category.id %}" class="list-group-item">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="{% static 'vendor/img/slides/slide-1.jpg' %}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="{% static 'vendor/img/slides/slide-2.jpg' %}" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="{% static 'vendor/img/slides/slide-3.jpg' %}" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="row">

                    {% for product in object_list %}
                        <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top"
                                     src="{{ product.image.url }}"
                                     alt="">

                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{ product.name }}</a>
                                </h4>
                                <h5>{{ product.price | intcomma }} руб.</h5>
                                <p class="card-text">{{ product.description }}</p>
                            </div>
                            <div class="card-footer text-center">
                                <a  class="btn btn-outline-success"
                                    href="{% url 'products:basket_add' product.id %}">
                                    Добавить в корзину
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor%}


                </div>
                {% if is_paginated %}
                    <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="{% if page_obj.has_previous %} {% url 'products:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}"
                               tabindex="-1" aria-disabled="true">
                                Предыдущая.
                            </a>
                        </li>
                        {% for page in paginator.page_range %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'products:paginator' page %}">
                                    {{ page }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                            <a class="page-link" href="{% if page_obj.has_next %} {% url 'products:paginator' page_obj.next_page_number %} {% else %} # {% endif %}">
                                Следующая.
                            </a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </div>

        </div>

    </div>
{% endblock %}

{% block footer %}
    <footer class="py-3 bg-dark">
        <div class="container">
            <h4 id="contacts" class="m-0 text-center text-white"><br><b>Контакты:</b> <br><br> +7(812)987-18-69 <br> +7(952)287-18-69</h4>
            <br>
            <div class="m-0 text-center text-whiten">
                <a href="https://wa.me/7123456789"><img src="{% static 'vendor/img/whatsapp-logo.png' %}">
                &nbsp;
                <a href="https://web.telegram.org/">
                    <img src="{% static 'vendor/img/tg-image-color.png' %}"/>
                &nbsp;
                <a href="https://www.avito.ru/user/13487b14127cd8e68481566569302874/profile?id=3182369205&src=item&page_from=from_item_card&iid=3182369205">
                    <img src="{% static 'vendor/img/avito-logo.png' %}"/></a>
            </div>
            <br>
            <p class="m-0 text-center text-white">Copyright &copy; TankTuningSPB 2023</p>

        </div>
    </footer>
{% endblock %}

